.spinner-container {
  position: absolute;
  top: 40%;
  left: 38%;
  justify-content: center;
  display: flex;
  align-items: center;
  background:#ffcc00;
  height: 20%;
  width: 250px;
  border-radius: 16px;
}

.spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #ffcc00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: relative;
  top: 2px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
