<div
  style="
    background: #fff;
    border-radius: 20px;
    height: 100%;
    align-items: end;
    display: grid;
    padding: 20px;
  "
>
  <div style="margin-bottom: 20px;">¿Estas seguro de eliminar el producto {{ titleProduct }}</div>
  <div style="width: 100%; height: 1px; background: #ECECEC;"></div>
  <div class="form-buttons-actions">
    <button  type="reset" class="reset-button" (click)="cancel()">
      Cancelar
    </button>
    <button type="submit" class="submit-button" (click)="confirm()">
      Confirmar
    </button>
  </div>
</div>
